In [1]:
import pandas as pd

In [15]:
output=pd.read_csv('output/submitXGBensembleFeatured++.csv')

In [16]:
output.head()

   studentid  subsidy
0          2        0
1          3        0
2         16        0
3         17        0
4         32     1500

In [17]:
output['subsidy'].value_counts()

0       8096
1000    1397
1500     744
2000     546
Name: subsidy, dtype: int64

In [18]:
threshold=pd.read_csv('output/threshold-plus.csv')

In [19]:
threshold['judge'].value_counts()

0    7453
1    3330
Name: judge, dtype: int64

In [20]:
combine=output.merge(threshold,on='studentid')

In [21]:
combine['new_sub']=combine['subsidy']*combine['judge']

In [22]:
combine['new_sub'].value_counts()

0       8777
1000    1016
1500     561
2000     429
Name: new_sub, dtype: int64

In [23]:
combine.drop(['subsidy','judge'],axis=1,inplace=True)

In [24]:
combine.columns=['studentid','subsidy']

In [25]:
combine.to_csv('output/submit_threshold54XGBEFeatured++.csv',index=False)